body{
    background: rgb(166,166,173);
    background: linear-gradient(297deg, rgba(166,166,173,1) 0%, rgba(105,187,147,1) 27%, rgba(4,10,11,1) 100%);
    font-family: 'Mrs Sheppards', cursive;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    display: flex;
    justify-content: center;
    font-size: 44px;
    color: black;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

img {
    width: 100px;
    align-self: center;  
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.battle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    align-self: center;
}

.versus {
    display: flex;
    justify-content: center;
    border: dotted 1px black;
    align-self: center;
    font-size: 90px;
    color: darkred;
}

.results {
    border: dotted 1px black;
    width: 200px;
    height: 100px;
    align-self: flex-end;
}

#user-pick, #computer-pick {
    border: dotted 1px black;
    width: 320px;
    height: 470px;
}

#rock, #paper, #scissors {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    flex-direction: column-reverse;
    border: solid 2px black;
    width: 250px;
    height: 250px;
    font-size: 36px;
}

#rock:hover, #paper:hover, #scissors:hover {
    background-color: wheat;
    cursor: pointer;
}
